* {
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
body {
    margin: 0;
    overflow-x: hidden;
}
h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
}
h2 {
    text-align: center;
    margin: 0;
}
.title {
    font-size: 3em;
    width: 100%;
    top: 40px;
    transition: ease-in;
}
.box__shadow {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 53%, rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,0) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 100%);
    width: 112%;
    height: 15px;
    margin-bottom: 20px;
    transition: top .2s, height .2s;
    position: absolute;
    bottom: -53px;
    left: -9px;
}
#sound2 {
    transition: 1s 1s;
}
.getPoint {
    animation: getPoint .7s .6s;
}
.getPointTitle {
    animation: getPoint .7s;
}
@keyframes getPoint {
    40% {
        transform: scale(1);
    }
    50% {
        filter: brightness(1.5);
    }
}

.background {
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px 0 100px;
    transition: .2s .6s;
    align-items: center;
    background-color: #46744e;
    overflow: hidden;
    position: relative;
    z-index: 100;
    background-image: linear-gradient(#00000070, #000000b5), url(img/stars-2.jpg);
}
.background__block {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
.blockActive {
    display: block;
}
.center {
    width: 100%;
}
.boxes {
    display: flex;
}
.box {
    width: 200px;
    height: 200px;
    background-color: gainsboro;
    margin: 0 auto 40px auto;
    display: inline-block;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 2px;
}
.box:hover {
    cursor: pointer;
}
.box1 {
     transition: transform .2s .2s, background .2s .2s, filter .2s;
/*    position: relative;*/
}
.box2 {
    transition: transform .2s .3s, background .2s .3s, filter .2s;
   
}
.box3 {
    transition: transform .2s .4s, background .2s .4s, filter .2s;
    
}
.rotate {
    transform: rotateY(360deg);
}
.transformNoDelay {
    transition: transform .2s, background .2s;
}
.results {
    margin: auto;
    background: #165661;
    color: white;
    width: 400px;
    border-radius: 5px;
    padding: 15px 0;
}
.button {
    margin: 10px auto;
    font-size: 2em;
    background: transparent;
    border: none;
    border-radius: 45px;
    color: white;
    background: #06899e;
    display: block;
    padding: 15px 0;
    width: 400px;
    font-weight: 400;
}
.button:hover {
    cursor: pointer;
}
@media all and (max-width:1000px) {
    .background {
        padding: 20px 15px;
    }
    h1 {
        font-size: 1em;
    }
    .button {
        font-size: 1em;
        width: 80%;
    }
    .box {
        width: 30%;
        height: 20vh
    }
    .title {
        margin-bottom: 50px;
    }
    @keyframes getPoint {
    40% {
        transform: scale(1);
    }
    50% {
        filter: brightness(1.5);
    }
}

}
